# Entorno virtual
venv/

# Base de datos local
db.sqlite3

# Variables de entorno secretas
.env

# Archivos subidos por usuarios
media/

# Archivos estáticos generados
staticfiles/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini

# Mac
.DS_Store